body {
  font-family: Arial;
  background: linear-gradient(135deg, #dfe9f3, #ffffff);
  text-align: center;
  padding: 20px;
  transition: background 1s ease;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

#drop-area {
  border: 3px dashed #6c63ff;
  padding: 40px;
  background: white;
  width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.3s ease;
}

#drop-area:hover {
  background: #f0f0ff;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.preview-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#preview {
  max-width: 350px;
  display: none;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.progress-box {
  width: 250px;
  height: 10px;
  background: #ddd;
  margin: 20px auto;
  border-radius: 5px;
  display: none;
}

#progress-bar {
  height: 100%;
  background: #6c63ff;
  width: 0%;
  border-radius: 5px;
}

.error {
  color: red;
  font-weight: bold;
}
